<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="hader(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link type="text/css" href="css/semantic.min.css"  rel="stylesheet" th:href="@{/webjars/Semantic-UI/2.2.10/semantic.css}" />
    <link type="text/css" href="./css/index.css" rel="stylesheet" th:href="@{/css/index.css}"/>
    <link type="text/css" href="./css/blog.css" rel="stylesheet" th:href="@{/css/blog.css}"/>
    <link type="text/css" rel="stylesheet" href="css/animate.min.css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="../../static/enty/css/editormd.min.css" th:href="@{/enty/css/editormd.css}"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css' th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css}">
</head>
<body>
<nav th:fragment="nav(n)" class="ui inverted attached segment my-padded-tb-mini" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="item m-model-hide m-item" th:classappend="${n==1} ? 'active'" th:href="@{/}"><i class="home icon"></i>首页</a>
            <a href="#" class="item m-model-hide m-item" th:classappend="${n==2} ? 'active'" th:href="@{/admin/release}" ><i class="idea icon"></i>博客发布</a>
            <a href="#" class="item m-model-hide m-item" th:classappend="${n==3} ? 'active'" th:href="@{/admin/archived}"><i class="folder icon"></i>博客归纳</a>
            <a href="#" class="item m-model-hide m-item" th:classappend="${n==4} ? 'active'" th:href="@{/admin/adminblog}"><i class="pencil icon"></i>博客操作</a>
            <a href="#" class="item m-model-hide m-item" th:classappend="${n==5} ? 'active'" th:href="@{/admin/admintypes}"><i class="pencil icon"></i>分类操作</a>
            <a href="#" class="item m-model-hide m-item" th:classappend="${n==6} ? 'active'" th:href="@{/admin/admintage}"><i class="pencil icon"></i>标签操作</a>
            <div class="right item m-model-hide m-item">
                <div class="right menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="https://picsum.photos/seed/picsum/200/300" style="width: 30px; height: 50px;"  class="ui avatar image" th:src="@{${session.user.getAvator()}}"/>
                            <p th:text="${session.user.getUsername()}" style="float: right"></p>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="ui menu">
                            <a href="#" class="item" th:href="@{/logout}">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon button m-margin-top">
        <i class="sidebar icon"></i>
    </a>
</nav>
<br/>
<br/>
<br/><br/>


<footer class="ui inverted vertical segment my-padded-massive" th:fragment="footer">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid stackable">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="./image/weixin.jpg" class="ui rounded image" alt="" style="width: 110px" th:src="@{../image/weixin.jpg}">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header my-text-spaced my-text-lined my-opacity-mini">最新博客</h4>
                <div id="latestblog">
                    <div class="ui inverted link list" th:fragment="newblogList">
                        <a href="#" class="item"  th:each="blog : ${newblog}" th:text="${blog.title}" th:href="@{/blogmessage(id=${blog.id})}">用户故事(User Story)</a>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header my-text-spaced my-text-lined my-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：1799749389@qq.com</a>
                    <a href="#" class="item">QQ：1799749389</a>

                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header my-text-spaced my-text-lined my-opacity-mini">My Blue</h4>
                <p class="my-opacity-mini my-text-lined">这里是我的个人博客、会分享我学习编程过程中的经理和心得，希望可以给来到这里的人带来帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider "></div>
        <p class="my-text-thin my-text-spaced my-text-lined my-opacity-mini">Copyright &copy; 2020 skg-xsn Designed by skg-xsn</p>
    </div>
</footer>
<script src="./lib/Jquery/jquery-3.4.1.min.js" th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
<script type="text/javascript" src="../static/js/semantic.min.js" th:src="@{/webjars/Semantic-UI/2.2.10/semantic.js}"></script>
<script>
    $('#latestblog').load('/admin/newblogList');
</script>
</body>
</html>